#container{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
p{
    margin: 0;
}

ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
}
#addProd,
#listProd{
    font-size: 25px;
    color: #818181;
    padding: 15px;
    border-bottom: 0.2px solid #717171;
    background: #000;
}
#nav{
    max-height: 91px;
    background: #000;
    padding: 20px;
}
#addProd:hover,
#listProd:hover{
    color: #eab321;
    border-bottom: 2px solid #eab321;
    cursor: pointer;
}
#addProd,
#addProd:active,
#addProd:focus,
#listProd:active,
#listProd:focus,
#listProd{
    outline: none;
    border: 0;
}
#formAddProd{
    display: none;
    background: #0aeaa3;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 45%;
    top: 25%;
    max-height: 100%;
    max-width: 100%;
}
#form{
    padding: 10px;
    display: flex;
}
input{
    max-width: 200px;
}

#btn_add_prod{
    float: right;
    padding: 10px;
    border-radius: 10px;
    background: yellow;
    cursor: pointer;
}
#btn_add_prod:hover{
    border-color: deeppink;
    color: deeppink;
}

/*.inner_catalog{*/
/*    display: flex;*/
/*    background: #818181;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.inner_position{*/
/*    display: block;*/
/*    flex-direction: column;*/
/*}*/
.inner_catalog {
    margin-top: 15px;
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    background: #27abb0;
}
.inner_position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    padding: 10px;
    margin-bottom: 5px;
    background: #818181;
}