.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    position: sticky;
    width: 100%;
    height: 50px;
}
.ul {
    display:flex;
    justify-content: space-around;
    margin:0;
    padding:10px;
}
.nav{
    background-color: aquamarine;
}
li{
    list-style-type: none;
    font-size: 18px;
}
a{
    text-decoration: none;
}
.main{
    padding-top: 25px;
}
.field {
    clear:both;
    text-align:right;
    line-height:25px;
}
label {
    float:left;
    padding-right:10px;
}
.form_inner {float:left;}
.form1{
    width: 300px;
}
.forms{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.callback{
    text-align: center;
    padding: 5px 0;
}
.btnCallback{
    border-radius: 10px;
    cursor: pointer;
    height: 35px;
    background: dodgerblue;
    color: white;
}
.form2{
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px;
    left: 40%;
    top: 20%;
    width: 250px;
    height: 150px;
    background: blue;
    border-radius: 10px;
}
.fieldset2{
    color: white;
    background: darkviolet;
    border-radius: 10px;
}
.btnConfirm{
    cursor: pointer;
    background: springgreen;
    border-radius: 5px;
}
.buttonCallback{
    cursor: pointer;
    background: greenyellow;
    border-radius: 5px;
}