.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    background-color: mediumspringgreen;
}
.navi_list { list-style-type: none;}

li {
    display: inline-block;
    margin: 5px;
}
a{
    text-decoration:none;
    color: black;
}
a:visited { color: chocolate; }
a:hover { color: blue; }
p{
    font-size: 18px;
}
.glaz{
    color: red;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal_content {
    position: relative;
    background-color: #bb21e5;
    margin: auto;
    padding: 0;
    border: 5px solid #0aeaa3;
    width: 50%;
}
.header_modal{
    padding: 2px 16px;
    background-color: #27abb0;
    color: white;
}
.main_modal {
    padding: 2px 16px;
}
.main_modal h1 {
    color: #fff;
}
.footer_modal {
    padding: 2px 16px;
    background-color: #27abb0;
    color: white;
}