.container{
    max-width: 1100px;
    width: 130px;
    height: 90px;
    background: dimgrey;
    position: absolute;
    top: 45%;
    left: 45%;
    border-radius: 50px;
}
.wrap{
    width: 90px;
    height: 50px;
    background: white;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.circle{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: dodgerblue;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}
.active{
    animation: switch 0.2s linear forwards;
}
.active1{
    animation: change 0.2s linear forwards;
}
@keyframes switch {
    from{
        top: 5px;
        left: 5px;
    }
    50%{
        top: 5px;
        left: 25px;
        background: dodgerblue;
    }
    to{
        top: 5px;
        left: 45px;
        background: white;
    }
}
@keyframes change {
    from{
        background: white;
    }
    50%{
        background: white;
    }
    to{
        background: dodgerblue;
    }
}