#div1 {
    margin: 5px;
    border: 2px solid black;
}

#div2{
    margin: 5px;
    border: 2px solid black;
}
h1{
    text-align: center;
}
h2{
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
}
.inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.inner>div {
    text-align: center;
    height: 300px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    width: 23%;
}
img{
    width: 300px;
    height: 200px;
}


