#div1{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

#div1>div:first-child{
    width: 35%;
    margin: 10px;
    border: 2px solid black;
}

#div1>div:last-child{
    width: 75%;
    margin: 10px;
    border: 2px solid black;
}
h1{
    text-align: center;
}
p{
    font-size: 18px;
    padding-left: 10px;
}
.products{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.products>div{
    height: 100px;
    width: 20%;
    padding: 10px;
    margin: 10px;
    position: relative;
    border: 2px solid black;
}
span{
    font-size: 18px;
    position: absolute;
    left: 30%;
    top: 40%;
}
