.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.field {
    clear:both;
    text-align:right;
    line-height:25px;
}
label {
    float:left;
    padding-right:10px;
}

.form_inner {
    float:left;
}

.form1{
    width: 300px;
}

#btn1{
    cursor: pointer;
    background: springgreen;
    border-radius: 50%;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding: 0 10px;
}
#btn2{
    cursor: pointer;
    background: greenyellow;
    border-radius: 5px;
}
