* {box-sizing:border-box}

.slider {
    max-width: 700px;
    position: relative;
    margin: auto;
}
.next, .prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 6px 6px 0;
}
.next{
    right: 0;
    border-radius: 6px 0 0 6px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.dot{
    cursor: pointer;
    background-color: #bbb;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.mySlides img{
    height: 426px;
}

