.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
.inner{
    display: none;
    justify-content: space-around;
    top: 100px;
}
#btn{
    padding: 10px;
    background: #bb21e5;
    color: white;
    position: absolute;
    left: 45%;
    top: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 100px;
}

.form1,
.form2,
.form3,
.form4{
    display: none;
    border: 2px solid red;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.circle1,
.circle2,
.circle3,
.circle4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #27abb0;
    margin: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.circe_div{
    vertical-align: middle;
    text-align: center;
}
p{
    font-size: 35px;
    margin: 5px;
}
.active{
    background: forestgreen;
    transition: all 1s ease-in-out;
}